<div class="container">

  <p id="notice"><%= notice %></p>
  <p><%= link_to 'New Haiku', new_haiku_path %></p>

  <ul class="haikus">
    <% @haikus.each do |haiku| %>
      <li class="haiku">
        <p><pre><%= haiku.content %></pre></p>
        <p>
          <%= link_to 'Show', haiku %>
          <%= link_to 'Edit', edit_haiku_path(haiku) %>
          <%= link_to 'Destroy', haiku, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </li>
    <% end %>
  </ul>

</div>
