<div class="container">

  <p id="notice"><%= notice %></p>

  <ul class="haikus">
    <li class="haiku new-haiku">
      <%= link_to image_tag("plus.svg", class: "icon-add", alt: "Write a haiku"), new_haiku_path %>
    </li>
    <% @haikus.each do |haiku| %>
      <li class="haiku">
        <p><pre><%= haiku.content %></pre></p>
        <p>
          <%= link_to 'Show', haiku %>
          <%= link_to 'Edit', edit_haiku_path(haiku) %>
          <%= link_to 'Destroy', haiku, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </li>
    <% end %>
  </ul>

</div>
